.profile__info {
  display: grid;
  column-gap: 1.8rem;
  row-gap: 1.6rem;
  align-items: center;
  grid-template-rows: 3.9rem;

  margin-right: 3rem;
}

@media screen and (max-width: 680px) {
  .profile__info {
    column-gap: 1rem;
    row-gap: 1.4rem;
    justify-items: center;
    grid-template-rows: 2.6rem 1.4rem;

    margin: 0;
  }
}
