.popup__title {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2;

  margin: 0 0 5.4rem;
}

@media screen and (max-width: 680px) {
  .popup__title {
    font-size: 1.8rem;
    line-height: 1.21;

    margin-bottom: 7.5rem;
  }
}
