.profile {
  margin: 4rem 20rem 5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1090px) {
  .profile {
    margin: 3.55rem 15rem 3.7rem;
  }
}

@media screen and (max-width: 840px) {
  .profile {
    margin: 3rem 5rem 3.25rem;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    margin: 4.2rem 1.9rem 3.6rem;

    flex-direction: column;
  }
}
