.posts {
  max-width: 88rem;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .posts {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 680px) {
  .posts {
    padding: 0;
    margin: 0 1.9rem 0;
  }
}
