.profile {
  margin: 4rem auto 5rem;
  max-width: 88rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 840px) {
  .profile {
    margin: 3rem auto 3.25rem;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    padding: 0;
    margin: 4.2rem 1.9rem 3.6rem;

    flex-direction: column;
  }
}
