.profile__avatar {
  display: block;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;

  border-radius: 50%;

  transition: opacity linear .2s;
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: 20%;
}
