.profile__description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #fff;

  margin: 0;

  grid-column: 1/1;
  grid-row: 2/2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 840px) {
  .profile__description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 680px) {
  .profile__description {
    font-size: 1.4rem;

    margin-left: 2.8rem;
    max-width: 100%;
  }
}
