.popup__save-button_inactive {
  background-color: #fff;
  color: #000;
  border: 0.1rem solid #000;

  user-select: none;

  opacity: 0.2;

  transition: none;
}

.popup__save-button_inactive:hover {
  opacity: 0.2;
  cursor: not-allowed;
}
