.profile__info {
  display: grid;
  column-gap: 1.8rem;
  row-gap: 1.6rem;
  align-items: center;
  grid-template-rows: 3.9rem;
  grid-row: 1/1;
  grid-column: 2/2;
}

@media screen and (max-width: 560px) {
  .profile__info {
    grid-row: 2/2;
    grid-column: 1/1;
    column-gap: 0;
    row-gap: 1.4rem;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 2.6rem 1.4rem;

    margin: 0 auto;
  }
}
