.footer {
  margin: 6.6rem 0 6rem 20rem;
}

@media screen and (max-width: 1090px) {
  .footer {
    margin: 6.12rem 0 5.36rem 15rem;
  }
}

@media screen and (max-width: 840px) {
  .footer {
    margin: 5.64rem 0 4.72rem 5rem;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    margin: 4.8rem 0 3.6rem 1.9rem;
  }
}
